@font-face {
    font-family: Arial-Mono;
    src: url(assets/arial-monospaced-mt.ttf) format("truetype");
}

body {
    font-family: Arial-Mono;
    line-height: 8px;
    letter-spacing: 2px;
    background-color: #000000;
    color: white;
    margin: 0px;
    overflow: hidden;
    user-select: none;
}

div,
p {
    position: absolute;
}

p {
    background: #000000;
    z-index: 10;
    padding: 8px;
}

table {
    font-family: Arial-Mono !important;
    letter-spacing: 2px;
}
